<% include partials/_header %>		

		<section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix">
			<a class="anchor" id="home"></a>
			<div class="slider-parallax-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark" alt="Bishop Peak; Credit: transformed image originally posted to Flickr by Leif Arne Storset - licensed under the Creative Commons Attribution-Share Alike 2.0 Generic license" style="background-image: url('codeslo-custom/images/bishop.jpg');">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									<img data-animate="fadeInUp" src="codeslo-custom/images/codeslo-logo-grey.png" alt=" Welcome to CodeSLO">
									<p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">Teaching the Central Coast to code.</p>
								</div>
							</div>
						</div>							
					</div>						
				</div>

			</div>

		</section>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap nobottompadding">				
				<div class="promo promo-full promo-border header-stick bottommargin">
					<div class="container clearfix">
						<h3>CodeSLO is a community coding school that offers classes and meetups for people who want to learn computer programming. Our primary focus is on web development using HTML, CSS, and JavaScript.</h3>					
					</div>
				</div>

				<a class="anchor" id="services"></a>
				<div class="container clearfix">
					<div class="col_one_third nobottommargin">
						<div class="feature-box fbox-effect">
							<div class="fbox-icon">
								<i class="icon-line-head i-alt"></i>
							</div>
							<h3>Community</h3>
							<p>We teach people to code in a way that is accessible and nurturing. We are inclusive and encouraging, and we inspire people to tackle hard challenges. CodeSLO has worked with organizations like Fullstack Academy, the SLO County Office of Education, and Ticket into Tech to train Central Coast residents for careers in software.</p>
						</div>
					</div>

					<div class="col_one_third nobottommargin">
						<div class="feature-box fbox-effect">
							<div class="fbox-icon">
								<i class="icon-pencil i-alt"></i>
							</div>
							<h3>Educational Organizations</h3>
							<p>We provide remote programs that are bootcamp-style coding classes for community colleges, apprenticeship programs, and other educational groups.</p>
						</div>
					</div>

					<div class="col_one_third nobottommargin col_last">
						<div class="feature-box fbox-effect">
							<div class="fbox-icon">
								<i class="icon-line-briefcase i-alt"></i>
							</div>
							<h3>Businesses</h3>
							<p>Hiring? We help community members develop into job-ready applicants for web development roles.</p>
						</div>
					</div>										

					<!-- button to trigger modal -->
					<div class="col_full text-center mb-5">
						<button class="button button-rounded button-border button-theme mt-5" data-toggle="modal" data-target="#modalContactForm">
							<span>Request Information</span>
						</button>
					</div>

					<!-- Modal -->
					<%- include partials/_contactModal %>
					<!-- Modal end -->

				</div> <!-- Services container end -->
										
				<!-- Testiomonials -->
								
				<div id="testi-div" class="section parallax nomargin notopborder" alt="Avila Beach; Credit: transformed image originally posted to Panoramio by Sergei Gussev - licensed under the Creative Commons Attribution 3.0 Unported" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;" >
				<a class="anchor" id="testi"></a>
					<div class="container clearfix">
						<div class="heading-block center">
							<h2>Testimonials</h2>
						</div>
						<div class="testi-container nobottommargin">									
							<div id="oc-testi" class="owl-carousel testimonials-carousel carousel-widget" data-margin="20" data-items="1" data-loop="true" data-autoplay="15000" data-pagi="false">
								<%- include partials/_testimonials.ejs %>								
							</div> <!-- #oc-testi end -->
						</div><!-- .testi-container end -->
					</div>
				</div>					

				<!-- News and Announcements -->
				<a class="anchor mt-5" id="news"></a>
				<div class="container clearfix">
					<div class="heading-block">
						<h2>News</h2>
						<span>Here's the latest from CodeSLO</span>
					</div>					
					<div id="posts" class="small-thumbs">
						<%- include partials/_news.ejs %>
					</div><!-- #posts End -->
				</div>				

				<!-- Contact -->
				<a class="anchor" id="contact"></a>
				<div class="promo promo-light p-5 bottommargin">
					<div class="container clearfix">
						<h3>Need to get in touch? Email us today at <span><a href="" data-toggle="modal" data-target="#modalContactForm">info@codeslo.com</a></span></h3>
						<span> Questions? Comments? We'd love to hear from you!</span>
						<a href="" class="button button-xlarge button-theme button-rounded" data-toggle="modal" data-target="#modalContactForm">Contact CodeSLO</a>
					</div>
				</div>					
				
				<!-- Partners -->
				<a class="anchor" id="partners"></a>
				<div class="container clearfix">
					<div id="partners">
						<div class="heading-block center mb-2">
						<h3>Our Partners</h3>
						</div>
						<div id="oc-clients-full" class="owl-carousel image-carousel carousel-widget" data-margin="30" data-nav="false" data-loop="true" data-autoplay="3000" data-pagi="false" data-items-xs="2" data-items-sm="3" data-items-md="4" data-items-lg="5" data-items-xl="6">	
							<a href="https://www.slopartners.org/" target="_blank"><img src="codeslo-custom/images/slo-partners-grey.png" alt="SLO Partners"></a>
							<a href="http://www.socreate.it/en/" target="_blank"><img src="codeslo-custom/images/socreate.png" alt="So Create"></a>
							<a href="https://www.slocoe.org/" target="_blank"><img src="codeslo-custom/images/slocoe.png" alt="slocoe"></a>
							<a href="http://sbdc.calpoly.edu/slo-hothouse/" target="_blank"><img src="codeslo-custom/images/slo-hh.png" alt="SLO Hot House"></a>
							<a href="https://wearehathway.com/" target="_blank"><img src="codeslo-custom/images/hathway.png" alt="Hathway"></a>
							<a href="https://www.atascaderochamber.org/" target="_blank"><img src="codeslo-custom/images/acc.png" alt="Atascadero Chamber of Commerce"></a>
							<a href="https://www.calpoly.edu/" target="_blank"><img src="codeslo-custom/images/cp.png" alt="Cal Poly"></a>
							<a href="https://www.fullstackacademy.com" target="_blank"><img src="codeslo-custom/images/fa.png" alt="Fullstack Academy"></a>
														
						</div>
					</div>		
				</div><!--  Partners container end -->
			</div><!-- .content-wrap end -->

		</section><!-- #content end -->
		

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">
			<% include partials/_footer %>
		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<% include partials/_scripts %>

</body>
</html>