a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.line {
    margin: 30px 0;
}

#slider p {
    font-weight: 500;
    color: #333333;
    text-shadow: none;
}

.testi-image, .testi-image img {
    height: 12%;
    width: 12%;    
}

.testimonial {
    min-height: 140px;
    padding: 30px 60px;
}

.testimonial p {
    font-size: 1rem;
}

.testi-container .owl-stage {
    padding: 0;
}

#partners h4 {
    color: #777;
}

#footer .footer-widgets-wrap {
    padding: 40px 0;
}

.si-meetup:hover,
.si-colored.si-meetup { background-color: #F5405F !important; }