<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="getInfo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 font-weight-bold">What can we help you with?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;
                </button>
            </div>
            
            <div class="modal-body">
                <div>		
                    <form class="nobottommargin needs-validation" id="modal-contactform" name="contactform" action="/add-contact" method="post" novalidate>											
                        <div class="col_full">
                            <textarea class="form-control" id="modal-contactform-message" name="contactform_message" placeholder="Message *" rows="4" cols="30" required></textarea>
                            <div class="invalid-feedback">
                                    Please let us know what we can help you with.
                            </div>
                        </div>

                        <div class="col_half">				
                            <input type="text" id="modal-contactform-first-name" name="contactform_first" placeholder="First Name *" class="form-control" required/>
                            <div class="invalid-feedback">
                                Please provide your first name.
                            </div>
                        </div>

                        <div class="col_half col_last">		
                            <input type="text" id="modal-contactform-last-name" name="contactform_last" placeholder="Last Name *" class="form-control" required/>
                            <div class="invalid-feedback">
                                Please provide your last name.
                            </div>
                        </div>											

                        <div class="col_half form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text icon-envelope-alt"></span> 
                                </div>				
                                <input type="email" id="modal-contactform-email" name="contactform_email" placeholder="Email *" class="email form-control" required/>
                                <div class="invalid-feedback">
                                    Please use a valid email address.
                                </div>
                            </div>
                        </div>											

                        <div class="col_half col_last">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text icon-phone3"></span>
                                </div>																
                                <input type="tel" id="modal-contactform-tel" name="contactform_tel" placeholder="Phone (optional)" class="form-control"/>
                            </div>
                        </div>											
                        
                        <div class="col_full">
                            <div class="form-check pl-0 mb-2">
                                <input id="modal-subscribe" class="checkbox-style" type="checkbox" value="true" name="contactform_subscribe" checked>
                                <label for="modal-subscribe" class="checkbox-style-3-label nobottommargin">Subscribe for the latest from CodeSLO</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input id="individual" class="radio-style" type="radio" value="individual" name="contactform_ind_org" checked>
                                <label for="individual" class="radio-style-2-label">I am an individual</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input id="org" class="radio-style" type="radio" value="org" name="contactform_ind_org">
                                <label for="org" class="radio-style-2-label">I am part of a group</label>
                            </div>												
                        </div>			 
                        
                        <div class="col_full">				
                            <input type="text" id="modal-contactform-org" name="contactform_org_name" placeholder="Name of Organization" class="form-control hidden"/>
                        </div>
                        
                        <!-- botcheck: this input is hidden, if it is filled out the form was submitted by a bot -->
                        <div class="col_full hidden">
                            <input type="text" id="modal-contactform-botcheck" name="contactform_botcheck" value="" class="sm-form-control"/>
                        </div>

                        <div class="text-center">
                            <button class="button button-rounded button-large nomargin" type="submit" id="modal-contactform-submit" name="contactform_submit" value="submit" >Send</button>
                        </div>	
                    </form>
                </div>									
            </div>																
        </div> <!-- modal-content end -->
    </div>
</div>