<!-- views/partials/footer.ejs -->
<div class="container">

    <!-- Footer Widgets
    ============================================= -->
    <div class="footer-widgets-wrap clearfix">

        <div class="col_two_third">

            <div class="col_half">
                <div class="widget clearfix mission">
                    <img src="/codeslo-custom/images/logo-white.png" alt="CodeSLO" class="footer-logo">
                    <p>CodeSLO is a company dedicated to an inclusive model of coding instruction.</p> 
                    <p>Our mission is to make learning to code as accessible as possible for the Central Coast and beyond.</p>
                    <p>We are educational innovators who are unafraid to try new ways to reveal and nurture our student’s talents.</p>
                    <div>
                      <%#   <address>
                            <strong>Headquarters:</strong><br>
                            SLO HotHouse & Cal Poly CIE SBDC<br>
                            872 Higuera Street<br>
                            San Luis Obispo, CA 93401<br>
                        </address> %>
                        <!-- <abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>								 -->
                        <h3><span>info@codeslo.com</span></h3>
                    </div>
                </div>
            </div>						

            <div class="col_half col_last">

                <div class="widget clearfix">
                    <h4>Recent Articles</h4>

                    <div id="post-list-footer">
                        <div class="spost clearfix">
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h4><a href="https://slochamber.org/locals-demonstrate-promising-skills-at-slo-countys-first-ever-community-hackathon/" target="_blank">Locals demonstrate promising skills at SLO County’s first ever Community Hackathon</a></h4>
                                </div>
                                <ul class="entry-meta">
                                    <li>29th August 2018</li>
                                </ul>
                            </div>
                        </div>

                        <div class="spost clearfix">
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h4><a href="https://www.sanluisobispo.com/news/business/technology/article212272694.html" target="_blank">You could make $80,000 out of this SLO County tech boot camp — with no college degree</a></h4>
                                </div>
                                <ul class="entry-meta">
                                    <li>2nd June 2018</li>
                                </ul>
                            </div>
                        </div>

                        <div class="spost clearfix">
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h4><a href="https://www.newtimesslo.com/sanluisobispo/slo-hacks-into-new-potential-at-central-coast-youth-hackathon/Content?oid=2968269" target="blank">SLO hacks into new potential at Central Coast Youth Hackathon</a></h4>
                                </div>
                                <ul class="entry-meta">
                                    <li>27th April 2016</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col_one_third col_last">

            <div class="widget clearfix" style="margin-bottom: -20px;">

                <div class="row center">

                    <div class="col-lg-12">
                        <div class="counter counter-small"><span data-from="760" data-to="866" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
                        <h5 class="nobottommargin">CodeSLO Members</h5>
                    </div>								

                </div>

            </div>

            <div class="widget clearfix">
                <h4 class="mb-1">Subscribe</h4>
                <p class="mb-1">Get the latest news from CodeSLO. <em> We never send spam!</em></p>
                <div class="widget-subscribe-form-result"></div>
                <form name="subscribe_form" action="/api/subscribe" role="form" method="post" class="nobottommargin">
                    <div class="input-group divcenter">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="icon-email2"></i></div>
                        </div>
                        <input type="email" name="subscribe_email" class="form-control email" placeholder="Enter your Email" required>
                        <div class="input-group-append">
                            <button class="btn btn-theme" type="submit">Subscribe</button>
                        </div>
                    </div>

                    <!-- botcheck: this input is hidden, if it is filled out the form was submitted by a bot -->
					<div class="col_full hidden">
                        <input type="text" id="modal-contactform-botcheck" name="subscribe_botcheck" value="" class="sm-form-control"/>
                    </div>
                </form>
            </div>

            <div class="widget clearfix" style="margin-bottom: -20px;">

                <div class="row">

                    <div class="col-lg-6 clearfix bottommargin-sm">
                        <a href="https://www.facebook.com/codeslo/" target="_blank" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>
                        <a href="https://www.facebook.com/codeslo/" target="_blank"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
                    </div>
                    <div class="col-lg-6 clearfix">
                        <a href="https://www.meetup.com/codeslo/" target="_blank" class="social-icon si-dark si-colored si-meetup nobottommargin" style="margin-right: 10px;">
                            <i class="icon-meetup"></i>
                            <i class="icon-meetup"></i>
                        </a>
                        <a href="https://www.meetup.com/codeslo/" target="_blank"><small style="display: block; margin-top: 3px;"><strong>Find us</strong><br>on Meetup</small></a>
                    </div>

                </div>

            </div>

        </div>

    </div><!-- .footer-widgets-wrap end -->

</div>

<!-- Copyrights
============================================= -->
<div id="copyrights">

    <div class="container clearfix">

        <div class="col_half">
            Copyrights &copy; 2019 All Rights Reserved by CodeSLO<br>
            <!-- <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div> -->
        </div>

        <!-- <div class="col_half col_last tright">
            <div class="fright clearfix">
                <a href="https://www.facebook.com/codeslo/" target="_blank" class="social-icon si-small si-borderless si-facebook">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                </a>

                <a href="https://www.meetup.com/codeslo/" target="_blank" class="social-icon si-small si-borderless si-meetup">
                    <i class="icon-meetup"></i>
                    <i class="icon-meetup"></i>
                </a>												

                <a href="#" class="social-icon si-small si-borderless si-github">
                    <i class="icon-github"></i>
                    <i class="icon-github"></i>
                </a>
                
                <a href="#" class="social-icon si-small si-borderless si-linkedin">
                    <i class="icon-linkedin"></i>
                    <i class="icon-linkedin"></i>
                </a>
            </div>
            
            <div class="clear"></div>						
        </div> -->

    </div>

</div><!-- #copyrights end -->