<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/css/swiper.css" type="text/css" />
	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

	<!-- Radio Checkbox Plugin -->
	<link rel="stylesheet" href="/css/components/radio-checkbox.css" type="text/css" />

	<link rel="stylesheet" href="/css/responsive.css" type="text/css" />
	<link rel="stylesheet" href="/codeslo-custom/codeslo.css" type="text/css"/>
	<link rel="stylesheet" href="/codeslo-custom/codeslo-colors.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
	============================================= -->
	<title>CodeSLO - Teaching the Central Coast to Code</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header floating-header">

			<div id="header-wrap">

				<div class="container clearfix d-flex align-items-center">
					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
																
					<!-- Primary Navigation
					============================================= -->					
					<nav id="primary-menu">
						<ul>
							<li class="current"><a href="/"><div>Home</div></a>		
							</li>
							<li><a href="#services"><div>Services</div></a>	
							</li>
							<li><a href="#testi"><div>Testimonials</div></a>	
							</li>
							<li><a href="#contact"><div>Contact Us</div></a>	
							</li>
							<li><a href="#partners"><div>Partners</div></a>	
							</li>							
						</ul>
					</nav><!-- #primary-menu end -->						
					
					<!-- Social Icons
					============================================= -->
					<div class="d-none d-lg-inline-flex ml-auto">
						<a href="https://www.facebook.com/codeslo/" target="_blank" class="social-icon inline-block si-small si-rounded si-dark si-mini si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						<a href="https://www.linkedin.com/company/codeslo/" class="social-icon inline-block si-small si-rounded si-dark si-mini si-linkedin">
							<i class="icon-linkedin"></i>
							<i class="icon-linkedin"></i>
						</a>
						<a href="https://www.meetup.com/codeslo/" class="social-icon inline-block si-small si-rounded si-dark si-mini si-meetup">
							<i class="icon-meetup"></i>
							<i class="icon-meetup"></i>
						</a>
						<a href="#contact" class="social-icon inline-block si-small si-rounded si-dark si-mini si-email3">
							<i class="icon-email3"></i>
							<i class="icon-email3"></i>
						</a>
					</div>					
				</div> <!-- .container end -->

			</div> <!-- #header-wrap end -->

			<!-- Flash messages -->
			<% include _flash %>		

		</header><!-- #header end -->	