<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="CodeSLO" />

	<%# Open Graph Protocol for articles
	============================================= %>
	<%# !!!!! og:url NEEDS CONFIG !!!!! %>	
	<% if(locals.view === 'article-view' ){ %>		
		<meta property="og:url" content="https://codeslo.herokuapp.com/article/<%= article.slug %>"/>
		<meta property="og:type" content="article"/>
		<meta property="og:title" content="<%= article.Title %>"/>		
		<meta property="og:image" content="<%= article.Image.secure_url %>"/>
		<meta property="og:description" content="<%= article.ShareDescription %>"/>				
	<% } %>

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/css/swiper.css" type="text/css" />
	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

	<!-- Radio Checkbox Plugin -->
	<link rel="stylesheet" href="/css/components/radio-checkbox.css" type="text/css" />

	<link rel="stylesheet" href="/css/responsive.css" type="text/css" />
	<link rel="stylesheet" href="/codeslo-custom/codeslo.css" type="text/css"/>
	<link rel="stylesheet" href="/codeslo-custom/codeslo-colors.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
	============================================= -->
	<title>CodeSLO - Teaching the Central Coast to Code</title>

</head>

<body class="stretched" data-spy="scroll" data-target=".home-nav" data-offset="30">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<% if(locals.view === 'index' ){ %>
			<% include _homeNav %>
		<% } else { %>
			<% include _nav %>
		<% } %>		

			<!-- Flash messages -->
			<% include _flash %>		

		</header><!-- #header end -->	