<header id="header" class="transparent-header floating-header">

			<div id="header-wrap">

				<div class="container clearfix d-flex align-items-center">
					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
																
					<!-- Primary Navigation
					============================================= -->										
					<nav id="primary-menu">
						<ul>
							<li class="current"><a href="/#" data-scrollto="#"><div>Home</div></a>		
							</li>
							<li><a href="/#services" data-scrollto="#services" data-offset="30"><div>Services</div></a>	
							</li>
							<li><a href="/#testi" data-scrollto="#testi" data-offset="0"><div>Testimonials</div></a>	
							</li>
							<li><a href="/#news" data-scrollto="#news" data-offset="0"><div>News</div></a>	
							</li>
							<li><a href="/#contact" data-scrollto="#contact" data-offset="0"><div>Contact Us</div></a>	
							</li>
							<li><a href="/#partners" data-scrollto="#partners" data-offset="0"><div>Partners</div></a>	
							</li>							
						</ul>
					</nav><!-- #primary-menu end -->						
					
					<!-- Social Icons
					============================================= -->
					<div class="d-none d-lg-inline-flex ml-auto">
						<a href="https://www.facebook.com/codeslo/" target="_blank" class="social-icon inline-block si-small si-rounded si-dark si-mini si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						<a href="https://www.linkedin.com/company/codeslo/" class="social-icon inline-block si-small si-rounded si-dark si-mini si-linkedin">
							<i class="icon-linkedin"></i>
							<i class="icon-linkedin"></i>
						</a>
						<a href="https://www.meetup.com/codeslo/" class="social-icon inline-block si-small si-rounded si-dark si-mini si-meetup">
							<i class="icon-meetup"></i>
							<i class="icon-meetup"></i>
						</a>
						<a href="#contact" class="social-icon inline-block si-small si-rounded si-dark si-mini si-email3">
							<i class="icon-email3"></i>
							<i class="icon-email3"></i>
						</a>
					</div>					
				</div> <!-- .container end -->

			</div> <!-- #header-wrap end -->