<%# Header navigation for pages other than home %>
<header id="header" class="full-header sticky-header dark sub-nav">

			<div id="header-wrap">

				<div class="container clearfix d-flex align-items-center">
                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                    
                    <!-- Logo
					============================================= -->
					<div id="logo">
                        <a href="/" class="standard-logo"><img class="grow" src="/codeslo-custom/images/logo-white.png" alt="CodeSLO Logo"></a>                        
                    </div><!-- #logo end -->
																
					<!-- Primary Navigation
					============================================= -->										
					<nav id="primary-menu">
						<ul>
							<li><a href="/#"><div>Home</div></a>		
							</li>
							<li><a href="/#services"><div>Services</div></a>	
							</li>
							<li><a href="/#testi"><div>Testimonials</div></a>	
							</li>
							<li><a href="/#news"><div>News</div></a>	
							</li>
							<li><a href="/#contact"><div>Contact Us</div></a>	
							</li>
							<li><a href="/#partners"><div>Partners</div></a>	
							</li>							
						</ul>
					</nav><!-- #primary-menu end -->						
					
					<!-- Social Icons
					============================================= -->
					<div class="d-none d-lg-inline-flex ml-auto">
						<a href="https://www.facebook.com/codeslo/" target="_blank" class="social-icon inline-block si-small si-rounded si-mini si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						<a href="https://www.linkedin.com/company/codeslo/" class="social-icon inline-block si-small si-rounded si-mini si-linkedin">
							<i class="icon-linkedin"></i>
							<i class="icon-linkedin"></i>
						</a>
						<a href="https://www.meetup.com/codeslo/" class="social-icon inline-block si-small si-rounded si-mini si-meetup">
							<i class="icon-meetup"></i>
							<i class="icon-meetup"></i>
						</a>
						<a href="#contact" class="social-icon inline-block si-small si-rounded si-mini si-email3">
							<i class="icon-email3"></i>
							<i class="icon-email3"></i>
						</a>
					</div>					
				</div> <!-- .container end -->

			</div> <!-- #header-wrap end -->